#index body {
  margin: 0;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#index .topnav {
  overflow: hidden;
  background-color: #808000;
}

#index .topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#index .topnav a:hover {
  background-color: #ddd;
  color: black;
}

#index .topnav a.active {
  float:left;
}
#index .object{
background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(quiz.jpg);
background-size: cover;
width: 100%;
height: 100%;
position:relative;
float: left;

}
#index .cap #body_content {
padding: 20px;
padding-bottom: 50px;
color: white;
font: 12px Monaco, Mono-Space;
margin: 0;
text-align:center;
height: 480px;
font-size: 2.3vw;
margin-left: 25%;
margin-right: 25%;
margin-top: 0%;

}
#index #body_content #butt{
background-color: #808000;
color: white;
height: 58px;
width: 110px;
}
#index .footer{
 height: 50px;
 background-color:#808000;
}
#index footer #footer_content {
background-color:#808000;
color: white;
line-height: 25px;
width: 100%;
float: left;
text-align: center;
padding: 0 0px;
}
#prof body{
  align-items: center;

}
.profbody{
background-color: #C0C0C0;
height: 100%;
overflow-y: scroll;
float: left;
}
.container{
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  color: white;
}
.center{
  text-align: center;
}
.profbody .center, .profbody .form-container{
  color: #000000;
}
#teo{
  align-items: center;
  text-align: center;
}
.askbutt{
  background-color: #808000;
  color: white;
}
.form-popup, .question-form {
  display: none;
  position:sticky;
  bottom: 0;
  top: 80px;
  left:290px;
  border: 3px solid #808000;
  border-radius: 25px;
  z-index: 9;
  width: 43%;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
    color: white;
}
.form-container input[type=text], textarea {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}
textarea{
  width: 80%;
}
.cancelbtn, .clbtn{
  background-color: #FF0000;
  color: white;
  border-radius: 15px;
  float: right;
  height: 40px;
  width: 100px;
}
.clbtn{
  margin-right: 65px;
}
.submitbtn, .btn{
  background-color: #808000;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 100px;
}
input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
.links{
  color: #808000;
}
.options{
  border: 10px;
}
.options .fa{
  color: #000000;
  font-size: 27px !important;
  border: 10px;
}
.feedback .fa{
  color: #808000;
  font-size: 27px !important;
  border: 10px;
}
.QuestionAnswer{
  color: #000000;
}
.dlbtn{
  background-color:  	#FF0000;
  border-radius: 10px;
}
